<div class="page-header">
  <h1><%=t '.title', :default => Movie.model_name.human.pluralize.titleize %></h1>
</div>

<div class = "container">
  <div class = "row">
    <div class="movie-display-container">
      <% @movies.each do |movie| %>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 movie-box">
          <%= link_to movie_path(movie) do  %>
            <%= image_tag movie.poster, class: "thumbnail height-100 center-block" %>
            <span class="display-title center-block"> <%= movie.title %> </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <div class="paginate-container">
       <%= paginate(@movies) %>
   </div>
  </div>
</div>
