<div class="row">
  <div class="col-sm-7">
    <div class="page-header">
      <h1><%= @movie.title %></h1>
    </div>
    <dl class="dl-horizontal">
      <dt><strong> Year :</strong></dt>
      <dd><%= @movie.year %></dd>
      <dt><strong> Length:</strong></dt>
      <dd><%= @movie.length %> min</dd>
      <dt>
        <strong> Genres:</strong> </br>
        <%= link_to "(show)", movie_genres_path(@movie), id: 'show_hide_genre' %>
      </dt>
      <dd id="output"> </dd>
    </dl>
  </div>
  <div class="col-sm-5">
    <%= image_tag @movie.poster, class: "height-400 center-block" %>
  </div>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              movies_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_movie_path(@movie), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              movie_path(@movie),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
