<!DOCTYPE html>
<html>
<head>
  <title>Cfmdb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navbar' %>
  <%= render 'layouts/flash_messages' %>

  <div class="container">

    <%= yield %>

    <footer>
    </br>
      <p>&copy; KF 2015</p>
    </footer>

  </div> <!-- /container -->
</body>
</html>
